altgraph==0.17.5
appscript==1.4.0
cffi==2.0.0
charset-normalizer==3.4.5
cryptography==46.0.5
docxtpl==0.20.2
Jinja2==3.1.6
lxml==6.0.2
macholib==1.16.4
MarkupSafe==3.0.3
packaging==26.0
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.1.1
psutil==7.2.2
pycparser==3.0
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.3
pypdfium2==5.6.0
PyQt6==6.10.2
PyQt6-Qt6==6.10.2
PyQt6_sip==13.11.1
python-docx==1.2.0
typing_extensions==4.15.0
xlwings==0.33.21
